/*table*/
.back-img{
	/*width: 60px;*/
    height: 26px;
    object-fit: contain;
    object-position: center center;
}

/*pagination*/
.pagination{
  margin: 0
}
.editback-img{
	/*width: 60px;*/
    height: 38px;
    object-fit: contain;
    object-position: center center;
}