/*logo*/
.main-logo{
	position: absolute;
	z-index: 9;
	top: 0;
	background-color: #ffc000c7 !important;
	width: 40% !important;
}

.main-logo-text{
    color: #ffc000;
}

/*slider*/
.main-slide-text{
	background-color: #ffc000b3 !important;
}

.main-team-hover:hover {
    background-color: #304a5f3b !important;
}

/*buttom*/
.main-btn-outline{
    color: #0e2b43 !important;
    border-color: #0e2b43 !important;
    font-weight: bold !important;
}

.main-btn-outline:hover{
    background-color: #0e2b43 !important;
    color: white !important;
    border-color: #0e2b43 !important;
}
.main-btn-out{
    color: #ffc000 !important;
    border-color: #ffc000 !important;
    font-weight: bold !important;
}

.main-btn-out:hover{
    background-color: #ffc000 !important;
    color: white !important;
    border-color: #ffc000 !important;
}

/*gallery*/
.demo-gallery > ul {
	margin-bottom: 0;
}
.demo-gallery > ul > li {
	float: left;
	margin-bottom: 15px;

	width: 200px;
}
.demo-gallery > ul > li a {
	border: 3px solid #FFF;
	border-radius: 3px;
	display: block;
	overflow: hidden;
	position: relative;
	float: left;
	padding-top: 10x;
	
}
.demo-gallery > ul > li a > img {
	-webkit-transition: -webkit-transform 0.15s ease 0s;
	-moz-transition: -moz-transform 0.15s ease 0s;
	-o-transition: -o-transform 0.15s ease 0s;
	transition: transform 0.15s ease 0s;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	height: 100%;
	width: 100%;
	

}
.demo-gallery > ul > li a:hover > img {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery > ul > li a:hover .demo-gallery-poster > img {
	opacity: 1;
}
.demo-gallery > ul > li a .demo-gallery-poster {
	background-color: rgba(0, 0, 0, 0.1);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: background-color 0.15s ease 0s;
	-o-transition: background-color 0.15s ease 0s;
	transition: background-color 0.15s ease 0s;
}
.demo-gallery > ul > li a .demo-gallery-poster > img {
	left: 50%;
	margin-left: -10px;
	margin-top: -10px;
	opacity: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: opacity 0.3s ease 0s;
	-o-transition: opacity 0.3s ease 0s;
	transition: opacity 0.3s ease 0s;
}
.demo-gallery > ul > li a:hover .demo-gallery-poster {
	background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .justified-gallery > a > img {
	-webkit-transition: -webkit-transform 0.15s ease 0s;
	-moz-transition: -moz-transform 0.15s ease 0s;
	-o-transition: -o-transform 0.15s ease 0s;
	transition: transform 0.15s ease 0s;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	height: 100%;
	width: 100%;
}
.demo-gallery .justified-gallery > a:hover > img {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
	opacity: 1;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster {
	background-color: rgba(0, 0, 0, 0.1);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: background-color 0.15s ease 0s;
	-o-transition: background-color 0.15s ease 0s;
	transition: background-color 0.15s ease 0s;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster > img {
	left: 50%;
	margin-left: -10px;
	margin-top: -10px;
	opacity: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: opacity 0.3s ease 0s;
	-o-transition: opacity 0.3s ease 0s;
	transition: opacity 0.3s ease 0s;
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
	background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .video .demo-gallery-poster img {
	height: 48px;
	margin-left: -24px;
	margin-top: -24px;
	opacity: 0.8;
	width: 48px;
}
.demo-gallery.dark > ul > li a {
	border: 3px solid #04070a;
}
.home .demo-gallery {
	padding-bottom: 80px;
	padding-top: 50px;
}


/*icon*/
a.link.facebook {
	background: #355496;
	display: inline-block;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	color: #fff;
}
a.link.twitter {
	background-color: #00ACEE;
	display: inline-block;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	color: #fff;
}
a.link.google-plus{
	background-color: #ff6347;
	display: inline-block;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	color: #fff;
}
a.link.linkedin{
	background-color: #0e76a8;
	display: inline-block;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	color: #fff;
}
.main-spin{
	/*padding-top:10px;*/
}
.main-spin:hover{
	transition: 0.9s;
	transform: rotateY(180deg);
}

.main-font-12{
	font-size: 12px !important;
}
.main-about{
	padding-top: 103px !important;
   padding-bottom: 10px !important;
}
.main-page-top{
	height: 190px !important;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	
}
.text-padding{
	margin-bottom: -50px !important;

}
.footerlink{
    color: #ffc000 !important;
    border-color: #ffc000 !important;
    font-weight: bold !important;
}

.footerlink:hover{
    background-color: #ffc000 !important;
    color: white !important;
    border-color: #ffc000 !important;
}
.spadpadding{
	padding-top: 103px;
    padding-bottom: 15px;
}


/*image page*/
.main-about-img{
	height: 338px;
	object-fit: cover;
	object-position: center center;
}

.main-gallery-img{
	height: 200px !important;
	object-fit: cover;
	object-position: center center;
}

.main-team-img{
	height: 263px !important;
	object-fit: contain;
	object-position: center center;

}
.main-product-img{
	height: 200px !important;
	object-fit: contain;
	object-position: center center;